.button {
  color: grey;
  background-color: white;
  border: solid 1px currentColor;
  border-radius: 4px;
  padding: 4px 12px;
  cursor: pointer;
  transition: all 0.3s;
  margin: 20px;
}

.button:hover {
  color: white;
  background-color: grey;
}
